<% product = @product || @product %>
<% context ||= product %>
<% collection ||= :features %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: feature do %>
  <tr data-id="<%= feature.id %>">
    <%= render "shared/tables/checkbox", object: feature %>
    <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, feature] %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, feature %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, feature], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, feature %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, feature], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(feature)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
